<section class="project-info">
    <img width="30%" src="https://sun9-32.userapi.com/impf/AnFKT-gNYUTtwhIU6uVlvAIyYKJKu48qv-jO2w/gKC8CMourvA.jpg?size=789x779&quality=96&sign=8c43b3474d3143f9c1d84291a945cb7d&type=album" alt="">
    <h2>My LinusOS</h2>
    <h3>members:</h3>
</section>
<section class="project-team">
    <table class="members-table">
      <thead class="members-table-header">
        <tr class="members-table-row ">
          <th scope="col">Name</th>
          <th scope="col">Date of joing</th>
          <th scope="col">Last activity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="members-table-row">
          <th scope="row">Maxim</th>
          <td>01.01.2021</td>
          <td>01.01.2022</td>
          <td>Remove</td>
        </tr>

        <tr class="members-table-row">
          <th scope="row">Maxim</th>
          <td>01.01.2021</td>
          <td>01.01.2022</td>
          <td>Remove</td>
        </tr>

        <tr class="members-table-row">
          <th scope="row">Maxim</th>
          <td>01.01.2021</td>
          <td>01.01.2022</td>
          <td>Remove</td>
        </tr>
      </tbody>
    </table>
</section>
