<section class="about-section">
  <hr>
  <h1>PIMA is modern project management system, that satisfy all your needs as part of developing large project. Its
    fully free.</h1>
</section>
<section class="auth-section">
  <form class="auth-form" [formGroup]="signUpForm" (ngSubmit)="submit()">
    <p class="email-control">
      <label for="email" >email:</label>
      <input id="email" type="email" formControlName="email" placeholder="your email...">
    </p>

    <p class="password-control">
      <label for="password" >password:</label>
      <input id="password" type="password" formControlName="password" placeholder="password ...">
    </p>
    <button class="submit" type="submit" >SIGN IN</button>
  </form>
</section>
