/* You can add global styles to this file, and also import other style files */
$light-purple: #F5E9FF;

html{
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: auto;
}

app-root{
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow: auto;
}

main{
  flex: 1;
  height: max-content;
}

footer{
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

textarea {
  resize: none;
}


.blured {
  filter: blur(4px);
}

.dragging {
  opacity: 0.5;
}
