:host{
    display: flex;
    flex-direction: column;
}

:host h3 {
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 190%;
}

.data-section {
  display: flex;
}

.chart-canvas{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.elements-defenition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.elements-defenition li {
    font-size: 100%;
    list-style-type: none;
    display: flex;
    white-space: nowrap;
}

.color-square {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-bottom: 5px;

}
