<section class="charts-section">
    <app-chart
        [useInfoPanel]="true"
        [data]="contibutorsData"
        title="Ticket creators"
    ></app-chart>
    <app-chart
        [useInfoPanel]="true"
        [data]="mockData2"
        title="Type of ticket"
    ></app-chart>
</section>
<section class="info-section">
    <p>
        <img src="../../../assets/calendar.png" width="40px" alt="">
        120 days of work on project
    </p>

    <p>
        <img src="../../../assets/member.png" width="40px" alt="">
        10 members
    </p>

    <p>
        <img src="../../../assets/bug.png" width="40px" alt="">
        100 bugs solved
    </p>

    <p>
        <img src="../../../assets/feature2.png" width="40px" alt="">
        150 features added
    </p>
</section>
