<div class="board-screen">
  <section class="filters-section">
    <button (click)="createNewTicket()" class="new-item-but">New Item</button>
    <app-new-ticket *ngIf="creatingNewTicket" (closeEmitter)="closeNewTicketView()"></app-new-ticket>
    <app-view-ticket *ngIf="viewTicket" (closeEmitter)="closeTicketView()"></app-view-ticket>

    <ul>
      <li>
        <select name="" id="" (change)="filterChange($event, 'type')">
          <option value="" disabled selected>
            Type
            <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
            </svg>
          </option>
          <option value="">Any</option>
          <option value="Bug">Bug</option>
          <option value="Feature">Feature</option>
        </select>

      </li>
      <li>
        <select name="" id="" (change)="filterChange($event, 'assignedTo')">
          <option value="0" disabled selected>
            Assigned To
            <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
            </svg>
          </option>
          <option value="0">Any</option>
          <option *ngFor="let u of users" value="{{u.id}}">{{u.name}}</option>


        </select>
      </li>
      <!--<li>
        <select name="" id="">
          <option value="">
            Columns
            <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
            </svg>
          </option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
      </li> -->

      <li>
        <select name="" id="" (change)="filterChange($event, 'priority')">
          <option value="0" disabled selected>
            Priority
            <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
            </svg>
          </option>
          <option value="0">Any</option>
          <option value="" *ngFor="let pr of priorities" value="{{pr.id}}">{{pr.name}}</option>

        </select>
      </li>

    </ul>
  </section>
  <section class="board-section" let>
    <div class="board-head">
      <p class="board-header" *ngFor="let status of statuses">
        {{status.name}}
      </p>
    </div>
    <div class="board-body">
      <div class="board-column" *ngFor="let status of statuses" draggable="false">
          <app-ticket *ngFor="let ticket of getTicketsByStatusId(status.id)" [ticket]="ticket" (openingTicket)="openTicket()"></app-ticket>
      </div>

    </div>
  </section>
</div>