<div class="board-screen">
  <section class="filters-section">
    <button class="new-item-but">New Item</button>
    <ul>
      <li>
        Type
        <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
        </svg>

      </li>
      <li>
        Assigned To
        <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
        </svg>

      </li>
      <li>
        Columns
        <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
        </svg>
      </li>
      <li>
        Priority
        <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L11.8267 9L22 2" stroke="black" stroke-width="3.5" />
        </svg>

      </li>

    </ul>
  </section>
  <section>
    butt2
  </section>
</div>
